header {
  position: sticky;
  top: 0px;
}

.menu p {
  color: #CDAB9D;
}

.menus p {
  color: #CDAB9D;
}

#dec {
  text-decoration: none;
}

footer {
  background: #f3f3f3;
  color: #CDAB9D;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  bottom: 0px;
  position: fixed;
  width: 100%;
  padding: 1%;
}

.accueil {
  background: #CDAB9D;
}

.imageaccueil {
  height: 42em;
}

.client {
  height: 950px;
}

.produits {
  height: 2400px;
}

.produits h1 {
  text-align: center;
}

.dragonoïde {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.pokemon {
  display: flex;
  flex-direction: unset;
}

.hybrides {
  display: flex;
  flex-direction: row;
}

.fée {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.ensemble {
  padding: 1%;
}

.card img {
  height: 350px;
  width: 100%;
  border-radius: 2%;
}

.card {
  position: inherit;
  text-align: center;
  width: 30%;
  background-color: #CDAB9D;
  color: #f3f3f3;
  padding: 1%;
  margin: 1%;
}

.blog {
  height: 1800px;
}

.video {
  text-align: center;
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

.packs img {
  width: 90%;
  height: 250px;
  margin: 2%;
}

.packs main {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.dip {
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.dip img {
  width: 300px;
  height: 300px;
  margin: 1%;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }

  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px)
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px)
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%
  }

  100% {
    top: 100%
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px)
  }

  50% {
    transform: translateX(80px)
  }

  100% {
    transform: translateX(0px)
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, .5s;
  animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s
}

.demo {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

.demo a {
  font-family: 'Raleway', sans-serif;
  color: #000;
}

.qui {
  background: #CDAB9D;
  text-align: center;
}

.qui main {
  padding: 6%;
}

.client {
  background: #CDAB9D;
}

.client h3{
  text-align: left;
  margin-left: 2%;
}

.question h1 {
  text-align: center;
}

.imageaccueil {
  width: 100%;
}

.contacte h1 {
  text-align: center;
}

.contacte .question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25% 25% 50%;
  padding-left: 15%;
  padding-right: 15%;
}

.contacte .un {
  grid-column-start: 1;
}

.contacte .deux {
  grid-column-start: 2;
}

.contacte .quatre {
  grid-row-start: 3;
  width: 224%;
  height: 100%;
  margin-left: -5%;
  margin-right: 0%;
}

.contacte .mb-3 {
  width: 90%;
  height: 220%;
  padding: 5%
}

.valide {
  margin-left: 40%;
}

#formGroupExampleInput {
  background-color: #CDAB9D;
}

#formGroupExampleInput1 {
  background-color: #CDAB9D;
  width: 100%;
  height: 40%;
}

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  color: #CDAB9D;
  height: 70px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #CDAB9D;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: #f3f3f3;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}


@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #CDAB9D;
    background-color: #f3f3f3;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  header {
    width: 102.5%;
  }

  .menus {
    display: none;
  }

  .imageaccueil {
    width: 101%;
    height: 20em;
    display: block;
    margin-left: 1%;
    margin-top: 40%;
    margin-bottom: auto;
    border-radius: 50%;
  }

  .contacte .question {
    grid-template-columns: 50/50;
    grid-template-rows: 20% 20% 20% 40%;
    width: 100%;
  }

  .contacte .un {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contacte .deux {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .contacte .trois {
    grid-row-start: 3;
    margin-left: 4%;
  }

  .contacte .quatre {
    grid-row-start: 4;
    width: 210%;
  }

  .valide {
    margin-left: 25%;
  }

  .video iframe {
    width: 80%;
  }

  .card {
    width: 100%;
    padding: 1%;
    margin-left: 1%;
    height: 16em;
  }

  .card img {
    width: 70%;
    height: 10em;
  }

  .card ul {
    display: none;
  }

  .produits {
    height: 270em;
  }

  .dragonoïde {
    flex-direction: column;
  }

  .pokemon {
    flex-direction: column;
  }

  .hybrides {
    flex-direction: column;
  }

  .fée {
    flex-direction: column;
  }

  .client {
    height: 500px;
  }

  .qui {
    height: 120em;
  }

  .packs img {
    width: 150px;
    height: 175px;
    border-radius: 5%;
  }

  .packs main {
    flex-direction: column;
  }

  .dip {
    flex-direction: column;
  }
}